##### Pair Programming - REGRESION LINEAL 8 ENCODING

En el pair programming de hoy usaremos el set de datos que guardastéis en el pair programming de normalización y estandarización.

Vuestro set de datos debería tener al menos una variable categórica, el objetivo del pair programming de hoy:

- Hacer una códificación de la/las variables categóricas que tengáis en vuestro set de datos.

- Recordad que lo primero que deberéis hacer es decidir su vuestras variables tienen o no orden, para que en función de esto uséis una aproximación u otra.

- Guardad el dataframe, donde deberíais tener las variables estadandarizas, normalizadas y codificadas en un csv para usarlo en el próximo pairprogramming

In [1]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd

# Para la codificación de las variables numéricas
# -----------------------------------------------------------------------
from sklearn.preprocessing import LabelEncoder # para realizar el Label Encoding 
from sklearn.preprocessing import OneHotEncoder  # para realizar el One-Hot Encoding

# Para evitar que salgan los warnings en jupyter
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('datos/pokePd_estandarizado.csv', index_col = 0)
df.head()

,Type,Total,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed_BOX
0,Grass,-0.819945,-0.75000,-0.738095,-0.500000,-0.088889,-0.131579,16.160251
1,Poison,-0.819945,-0.75000,-0.738095,-0.500000,-0.088889,-0.131579,16.160251
2,Grass,-0.337950,-0.28125,-0.428571,-0.166667,0.244444,0.263158,19.724770
3,Poison,-0.337950,-0.28125,-0.428571,-0.166667,0.244444,0.263158,19.724770
4,Grass,0.326870,0.34375,0.047619,0.309524,0.688889,0.789474,24.005888

En primer lugar, vemos que nuestra variable de tipo catégorico es nominal (columna 'Type'), es decir, no tiene un orden. Por ello vamos a utilizar los métodos de Encoding

Método One Hot Encoder

In [4]:
# iniciamos el método de OneHot Encoder
oh = OneHotEncoder()

In [5]:
# en este caso trabajaremos con la columna english, que en este caso no tiene orden

df.Type.unique()

array(['Grass', 'Poison', 'Fire', 'Flying', 'Dragon', 'Water', 'Bug',
       'Normal', 'Dark', 'Electric', 'Psychic', 'Ground', 'Ice', 'Steel',
       'Fairy', 'Fighting', 'Rock', 'Ghost'], dtype=object)

In [6]:
# hacemos la codificación de los datos para la variable dada

transformados = oh.fit_transform(df[['Type']])

In [11]:
# convertimos nuestro array con la codificación hecha en un dataframe

oh_df = pd.DataFrame(transformados.toarray())
oh_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
oh_df.columns = oh.get_feature_names()
oh_df.columns

Index(['x0_Bug', 'x0_Dark', 'x0_Dragon', 'x0_Electric', 'x0_Fairy',
       'x0_Fighting', 'x0_Fire', 'x0_Flying', 'x0_Ghost', 'x0_Grass',
       'x0_Ground', 'x0_Ice', 'x0_Normal', 'x0_Poison', 'x0_Psychic',
       'x0_Rock', 'x0_Steel', 'x0_Water'],
      dtype='object')

In [14]:
# concatenamos el dataframe original con el dataframe que acabamos de crear

final = pd.concat([df,oh_df],axis=1)

In [18]:
pd.options.display.max_columns = None

In [19]:
final.head()

,Type,Total,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed_BOX,x0_Bug,x0_Dark,x0_Dragon,x0_Electric,x0_Fairy,x0_Fighting,x0_Fire,x0_Flying,x0_Ghost,x0_Grass,x0_Ground,x0_Ice,x0_Normal,x0_Poison,x0_Psychic,x0_Rock,x0_Steel,x0_Water
0,Grass,-0.819945,-0.75000,-0.738095,-0.500000,-0.088889,-0.131579,16.160251,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Poison,-0.819945,-0.75000,-0.738095,-0.500000,-0.088889,-0.131579,16.160251,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,Grass,-0.337950,-0.28125,-0.428571,-0.166667,0.244444,0.263158,19.724770,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Poison,-0.337950,-0.28125,-0.428571,-0.166667,0.244444,0.263158,19.724770,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,Grass,0.326870,0.34375,0.047619,0.309524,0.688889,0.789474,24.005888,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
# vamos a definir una función que nos aplique este método

def one_hot_encoder_one(df,columna,keep_first=True):
    
    # iniciamos el método de OneHot Encoder
    oh = OneHotEncoder()
    
    # hacemos la codificación de los datos para la variable dada 
    transformados = oh.fit_transform(df[[columna]])
    
    # convertimos nuestro array con la codificación hecha en un dataframe
    oh_df = pd.DataFrame(transformados.toarray())
    
    # el método get_feature_names nos va a dar el nombre de las columnas nuevas que se nos generarán
    oh_df.columns = oh.get_feature_names()
    
    # concatenamos el dataframe original con el dataframe que acabamos de crear
    final = pd.concat([df,oh_df],axis=1)
    
    # eliminamos la columna original 
    final.drop(columna, axis = 1,  inplace = True)
    return final

In [21]:
# aplicamos nuestra función al dataset para que nos haga el encoding sobre la columna "Type"
df_tipo = one_hot_encoder_one(df, "Type")

In [22]:
df_tipo.head()

,Total,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed_BOX,x0_Bug,x0_Dark,x0_Dragon,x0_Electric,x0_Fairy,x0_Fighting,x0_Fire,x0_Flying,x0_Ghost,x0_Grass,x0_Ground,x0_Ice,x0_Normal,x0_Poison,x0_Psychic,x0_Rock,x0_Steel,x0_Water
0,-0.819945,-0.75000,-0.738095,-0.500000,-0.088889,-0.131579,16.160251,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.819945,-0.75000,-0.738095,-0.500000,-0.088889,-0.131579,16.160251,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,-0.337950,-0.28125,-0.428571,-0.166667,0.244444,0.263158,19.724770,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.337950,-0.28125,-0.428571,-0.166667,0.244444,0.263158,19.724770,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.326870,0.34375,0.047619,0.309524,0.688889,0.789474,24.005888,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Método Get Dummies

In [24]:
df.Type.unique()

array(['Grass', 'Poison', 'Fire', 'Flying', 'Dragon', 'Water', 'Bug',
       'Normal', 'Dark', 'Electric', 'Psychic', 'Ground', 'Ice', 'Steel',
       'Fairy', 'Fighting', 'Rock', 'Ghost'], dtype=object)

In [25]:
dummies = pd.get_dummies(df["Type"], prefix_sep = "_", prefix = "Type", dtype = int)
dummies.head(2)

,Type_Bug,Type_Dark,Type_Dragon,Type_Electric,Type_Fairy,Type_Fighting,Type_Fire,Type_Flying,Type_Ghost,Type_Grass,Type_Ground,Type_Ice,Type_Normal,Type_Poison,Type_Psychic,Type_Rock,Type_Steel,Type_Water
0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [26]:
df_dummies = pd.concat([df, dummies], axis = 1)
df_dummies.head(2)

,Type,Total,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed_BOX,Type_Bug,Type_Dark,Type_Dragon,Type_Electric,Type_Fairy,Type_Fighting,Type_Fire,Type_Flying,Type_Ghost,Type_Grass,Type_Ground,Type_Ice,Type_Normal,Type_Poison,Type_Psychic,Type_Rock,Type_Steel,Type_Water
0,Grass,-0.819945,-0.75,-0.738095,-0.5,-0.088889,-0.131579,16.160251,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,Poison,-0.819945,-0.75,-0.738095,-0.5,-0.088889,-0.131579,16.160251,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0